            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
                font-family: Helvetica, Arial, sans-serif;
                ;
            }
            
            html,
            body {
                width: 100%;
                height: 100%;
            }
            
            #nav {
                width: 100%;
                height: 17%;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            
            #nav,
            img {
                height: 89px;
            }
            
            #nav1 {
                width: 40%;
                display: flex;
                align-items: center;
                gap: 23px;
                padding: 25px 50px;
            }
            
            #nav1,
            h4 {
                font-size: 14px;
                font-weight: 2px;
                letter-spacing: 0;
            }
            
            #nav3 {
                width: 30%;
                align-items: center;
                /* background-color: black; */
                padding: 30px 15p;
            }
            
            #nav2 {
                width: 30;
                display: flex;
                align-items: center;
                gap: 40px;
                padding: 48px 50px;
            }
            
            #one {
                background-color: black;
                color: white;
                width: 66px;
                height: 35px;
                border: none;
                border-radius: 5px;
            }
            
            #tow {
                background-color: rgba(141, 141, 141, 0.623);
                color: rgb(0, 0, 0);
                width: 66px;
                height: 35px;
                border: none;
                border-radius: 5px;
            }
            
            #centre {
                width: 100%;
                height: 80%;
                /* background-color: black; */
            }
            
            #box {
                width: 100%;
                height: 80%;
                background-color: black;
            }
            
            #video1 {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: brightness(50%);
                position: relative;
                z-index: -9;
            }
            
            #all {
                display: flex;
                justify-content: space-evenly;
                gap: 29px;
                position: absolute;
                left: 190px;
                top: 150px;
            }
            
            #nin {
                font-size: 16px;
                border: none;
                height: 45px;
                width: 110px;
                border-radius: 100px;
                background-color: rgba(0, 0, 0, 0.521);
                color: white;
                transition: ease 0.5s;
            }
            
            #text,
            p {
                font-size: 30px;
                position: absolute;
                top: 230px;
                left: 555px;
                text-align: center;
                font-weight: 600px;
                color: white;
            }
            
            p {
                font-weight: bolder;
            }
            
            #text2,
            h6 {
                font-size: 17px;
                position: absolute;
                top: 320px;
                left: 440px;
                text-align: center;
                font-weight: lighter;
                color: white;
            }
            
            button:hover {
                color: rgb(239, 225, 225);
                background-color: #f3ebeb;
                scale: 1.3;
            }
            
            #inputdiv input {
                width: 40%;
                height: 60px;
                position: absolute;
                top: 370px;
                left: 445px;
                background-color: #ffffff90;
                border-radius: 30px;
                border: 1px solid #a6a1a1;
                padding-left: 50px;
                font-size: 16px;
            }
            
            #last {
                display: flex;
                position: absolute;
                bottom: 205px;
                left: 350px;
                gap: 20px;
                font-weight: lighter;
            }
            
            #a {
                width: 121px;
                height: 30px;
                background-color: transparent;
                color: black;
                border-radius: 50px;
                border-color: white;
                color: #fff;
                border-style: solid;
                border-width: 3px;
            }
            
            #h {
                color: white;
                display: flex;
                align-items: center;
            }
            
            #tag {
                display: flex;
                position: absolute;
                right: 15px;
                bottom: 80px;
            }
            
            h3 {
                font-size: 13px;
                color: rgba(0, 0, 0, 0.568);
            }
            
            #bb {
                width: 107px;
                height: 43px;
                border-radius: 5px;
                border-color: white;
            }
            
            #pop {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-left: 45px;
                padding-top: 8px;
                padding-right: 45px;
            }
            
            #bb {
                color: black;
                font-weight: bold;
            }
            
            i {
                position: absolute;
                top: 394px;
                left: 467px;
                width: 30px;
                height: 40px;
            }